.block{
  background-color: var(--color-overlay);
  border: none;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 0 5px 10px;
  border-radius: 10px;
  color: var(--color-text-muted);
}

.block_select{
  background-color: transparent;
  border:none !important;
  outline: none !important;
  padding: 0px 23px 0 0;
}
