.card{
  background-color: var(--color-primary);
  border-radius: 20px;
  padding: 15px;
  color: #fff;
}

.card_title, .card_text{
  padding-bottom: 15px;
  color: var(--color-text-placeholder);
}


.card_amount{
  font-size: 40px;
  line-height: 1;
  font-weight: 500;
}

.card_flex{
  display: flex;
  justify-content: space-between;
}

.card_progress {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: var(--color-primary-hover);
}