.card {
  width: 100%;
  padding: 10px 12px 0 !important;
  overflow: hidden;
}

.card_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.card_name {
  font-size: 16px;
  color: var(--color-text-black);
}


.card_shipments {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  color: var(--color-text-muted);
  cursor: pointer;
}

.card_shipments_label {
  color: var(--color-text-muted);
}

.card_shipments_count {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  font-size: 10px;
  justify-content: center;
  align-items: center;
  background-color: var(--color-card-overlay);
}

.card_body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6px;
  margin-bottom: 5px;
}

.card_col {
  display: flex;
  flex-direction: column;
  gap: 2px;
  background-color: var(--color-bg);
  padding: 4px 8px;
  border-radius: 8px;
}

.card_label {
  font-size: 11px;
  color: var(--color-text-muted);
}

.card_value {
  font-size: 14px;
}

.card_value_green {
  font-size: 14px;
  color: var(--color-text-green);
}

.card_value_red {
  font-size: 14px;
  color: var(--color-red);
}

.progress_wrap {
  margin: 30px -12px 0;
}

.progress_bar_bg {
  position: relative;
  width: 100%;
  height: 4px;
  background-color: var(--color-border);
  border-radius: 4px;
  overflow: visible;
}

.progress_flag {
  position: absolute;
  left: 70%;
  top: 50%;
  transform: translate(-50%, -100%);
  display: flex;
  align-items: center;
  pointer-events: none;
}

.progress_bar_fill {
  position: relative;
  height: 100%;
  border-radius: 4px;
  background-color: var(--color-blue);
  transition: width 0.3s ease;
  overflow: visible;
}

.progress_label {
  position: absolute;
  right: 0;
  bottom: calc(100% + 4px);
  transform: translateX(50%);
  font-size: 9px;
  color: #fff;
  padding: 1px 5px;
  border-radius: 5px;
  background-color: var(--color-blue);
  white-space: nowrap;
}
.zero_position {
  transform: translateX(100%);
}

.hundred_position {
  transform: translateX(0%);
}
