.wrapper {
  width: 100%;
  padding: 0 20px;
  margin-bottom: 50px;
}

.block{
  background-color: var(--color-overlay);
  border: none;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 0 5px 10px;
  border-radius: 10px;
  color: var(--color-text-muted);
}

.block_select{
  background-color: transparent;
  border:none !important;
  outline: none !important;
  padding: 0px 10px 0 0;
}


.selects {
  display: flex;
  gap: 6px;
}

.title {
  font-size: 32px;
  margin: 0;
}
.head {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 6fr;
  gap: 20px;
}

.grid_chart {
  grid-column: 2;
  grid-row: 1 / 3;
}

.blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
}