.card {
  background-color: var(--color-bg);
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
}

.card_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_text {
  color: var(--color-text-muted);
  font-size: 12px;
}